Repository hessam/knx-store-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alice-senior, @charlie-senior, @bob-junior, @dana-junior

Vercel Adapter Build Error Fixed
  VERCEL_DEPLOYMENT_FIXES.md
  astro.config.mjs
  package.json
  src/pages/api/auth/logout.ts
  src/pages/api/sync.ts
  test-vercel-config.sh
  validate-build.sh
Owners: @charlie-senior, @alice-senior, @bob-junior

All deployment readiness checks passed
  VERCEL_DEPLOYMENT_FIXES.md
  api/auth/login.ts
  api/index.ts
  api/sync.ts
  astro.config.mjs
  docs/vercel-fix-guide.md
  package.json
  src/pages/api-backup/auth/login.ts
  src/pages/api-backup/auth/logout.ts
  src/pages/api-backup/auth/me.ts
  src/pages/api-backup/backup/health.js
  src/pages/api-backup/debug-redis.astro
  src/pages/api-backup/login.ts
  src/pages/api-backup/logout.ts
  src/pages/api-backup/payment.ts
  src/pages/api-backup/payments/create-intent.ts
  src/pages/api-backup/products/search.ts
  src/pages/api-backup/protected.ts
  src/pages/api-backup/save-translation.ts
  src/pages/api-backup/sync.ts
  test-vercel-config.sh
  tsconfig.json
  vercel.json
  verify-deployment-ready.sh
Owners: @charlie-senior, @alice-senior, @bob-junior

error fix
  fix-vercel-php-error.sh
  src/pages/api/auth/logout.ts
  src/pages/api/sync.ts
  vercel.json
Owners: @alice-senior, @charlie-senior, @bob-junior

Fix: Remove explicit runtime config, let Vercel auto-detect Node.js
  validate-vercel-fix.sh
  vercel.json
Owners: @alice-senior, @charlie-senior

Fix: Replace Astro.redirect with static-compatible redirects
  fix-static-redirects.sh
  src/pages/account.astro
  src/pages/checkout.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/login.astro
  src/pages/products/catalog-optimized.astro
  vercel.json
Owners: @alice-senior, @charlie-senior, @bob-junior

Phase 1: Performance Optimization Foundation
  PERFORMANCE_OPTIMIZATION_PLAN.md
  api/cart.ts
  api/price-stock.ts
  implement-performance-phase1.sh
  src/lib/api/price-stock.ts
  test-redirects.sh
  vercel.json
Owners: @charlie-senior, @alice-senior

deployment error fix
  api/cart.ts.bak
  api/price-stock.ts.bak
  build-fix-summary.sh
  docs/PRODUCTION_READY_DEPLOYMENT.md
  src/lib/api/price-stock.ts.bak
  vercel.json
Owners: @alice-senior, @charlie-senior

feat: Phase 2 Advanced APIs Implementation Complete
  Action plan
  PHASE_2_ACTION_PLAN.md
  PHASE_2_IMPLEMENTATION_COMPLETE.md
  PRODUCT_PAGES_STATUS_REPORT.md
  SINGLE_PRODUCT_PAGES_TIMELINE.md
  STRATEGIC_ROADMAP.md
  api/cart.ts
  api/price-stock.ts
  api/search.ts
  deploy-phase2.sh
  implement-performance-phase1.sh
  src/lib/api/cart-manager.ts
  src/lib/api/price-stock.ts
  src/lib/api/product-search.ts
  tsconfig.json
Owners: @alice-senior, @charlie-senior

fix errors
  GIT_COMMIT_SUCCESS_REPORT.md
  api/cart.ts
  api/price-stock.ts
  api/search.ts
  src/lib/api/build-compatible.ts
  src/lib/api/cart-manager.ts
  src/lib/api/price-stock.ts
  src/lib/api/product-search.ts
Owners: @charlie-senior, @alice-senior

fix errors
  src/lib/api/product-search-fixed.ts
Owners: @alice-senior

fix: Final TypeScript build error resolution
  api/cart.ts
  api/sync.ts
  src/lib/api/build-compatible.ts
Owners: @alice-senior, @charlie-senior

🔧 Fix all testing issues
  ITERATION_COMPLETE_REPORT.md
  TESTING_SCENARIO_PHASE2.md
  api/cart.ts
  public/sw.js
  src/lib/api/build-compatible.ts
  src/pages/[lang]/products/catalog.astro
  src/pages/api/auth/me.ts
  src/pages/api/products/search.ts
  vercel.json
Owners: @charlie-senior, @alice-senior, @bob-junior

🔥 CRITICAL FIX: Remove ALL hardcoded data + Fix CSP
  TESTING_SCENARIO_PHASE2.md
  src/lib/api/build-compatible.ts
  vercel.json
Owners: @charlie-senior, @alice-senior

.github/CODEOWNERS:

# Code Owners for KNX Store Project
# This file defines who is responsible for different parts of the codebase
# GitHub will automatically request reviews from these owners when PRs are created

# Global project owners (all files)
* @alice-senior @charlie-senior

# API and Backend Integration
src/lib/api/ @alice-senior
src/lib/api/wordpress.ts @alice-senior
src/lib/api/woocommerce.ts @alice-senior
src/pages/api/ @alice-senior

# Frontend Components and UI
src/components/ @charlie-senior @bob-junior
src/components/*.astro @charlie-senior
src/components/*.tsx @charlie-senior
src/layouts/ @charlie-senior

# Styling and CSS
src/styles/ @dana-junior @charlie-senior
tailwind.config.* @dana-junior
*.css @dana-junior

# Testing and Quality Assurance
tests/ @charlie-senior @bob-junior
tests/accessibility.spec.ts @charlie-senior
tests/e2e/ @charlie-senior
*.test.* @charlie-senior
*.spec.* @charlie-senior

# Configuration and Build
astro.config.* @alice-senior
package.json @alice-senior @charlie-senior
vercel.json @alice-senior
docker-compose.yml @alice-senior
Dockerfile @alice-senior

# Documentation
docs/ @charlie-senior @dana-junior
README.md @alice-senior @charlie-senior
*.md @charlie-senior

# GitHub Actions and CI/CD
.github/workflows/ @alice-senior
.github/CODEOWNERS @alice-senior

# Storybook Configuration
.storybook/ @charlie-senior
src/components/*.stories.* @charlie-senior

# Performance and Monitoring
.lighthouserc.* @alice-senior
size-limit @alice-senior

# Security and Environment
.env* @alice-senior
*.env @alice-senior

# TypeScript Configuration
tsconfig.json @charlie-senior
*.d.ts @charlie-senior

# Utilities and Helpers
src/utils/ @charlie-senior @bob-junior
src/lib/utils/ @charlie-senior

# Pages and Routing
src/pages/ @charlie-senior @bob-junior
src/pages/en/ @charlie-senior
src/pages/products/ @charlie-senior

# Data and Types
src/types/ @alice-senior @charlie-senior
src/stores/ @alice-senior
src/hooks/ @charlie-senior

# Performance and SEO
src/pages/sitemap.xml.ts @alice-senior
src/pages/robots.txt.ts @alice-senior

# Error Handling and Logging
src/lib/errors/ @alice-senior
src/lib/logger/ @alice-senior

# Internationalization
src/i18n/ @charlie-senior @dana-junior
src/pages/ar/ @dana-junior

# Payment and E-commerce
src/lib/stripe/ @alice-senior
src/lib/payments/ @alice-senior

# Caching and Performance
src/lib/cache/ @alice-senior
src/lib/redis/ @alice-senior

# Email and Notifications
src/lib/email/ @alice-senior
src/lib/notifications/ @alice-senior

# Analytics and Tracking
src/lib/analytics/ @alice-senior
src/lib/gtm/ @alice-senior

# Database and Data Models
src/lib/database/ @alice-senior
src/models/ @alice-senior

# Validation and Schemas
src/lib/validation/ @charlie-senior
src/schemas/ @charlie-senior

# Middleware and Interceptors
src/middleware/ @alice-senior
src/lib/interceptors/ @alice-senior

# Constants and Configuration
src/constants/ @charlie-senior
src/config/ @alice-senior

# Legacy and Migration
src/legacy/ @alice-senior
src/migrations/ @alice-senior

# Experimental Features
src/experimental/ @alice-senior @charlie-senior

# Vendor and Third-party
src/vendor/ @alice-senior
src/third-party/ @alice-senior

# Backup and Archive
src/backup/ @alice-senior
src/archive/ @alice-senior

# Team Member Expertise Areas:

# Alice (Senior) - Backend, API, DevOps, Security
# - WordPress/WooCommerce integration
# - Payment systems (Stripe)
# - Database and caching
# - Security and environment variables
# - Deployment and CI/CD
# - Performance optimization

# Charlie (Senior) - Frontend, Testing, Architecture
# - React/Astro components
# - Testing strategy and implementation
# - Code quality and best practices
# - Documentation and technical writing
# - Accessibility and UX
# - TypeScript and type safety

# Bob (Junior) - Frontend, Testing, Learning
# - Component development
# - API consumption
# - Testing implementation
# - Documentation
# - Learning backend development

# Dana (Junior) - UI/UX, Styling, Learning
# - Component styling and CSS
# - User experience implementation
# - Documentation and writing
# - Learning full-stack development
# - Internationalization (Arabic/RTL)

# Review Guidelines:
# - Senior developers should review all changes
# - Junior developers should review changes in their expertise areas
# - At least 2 approvals required for merging
# - Security-related changes require Alice's approval
# - Performance changes require Alice's approval
# - UI/UX changes require Dana's input
# - Testing changes require Charlie's approval
