Repository hessam/knx-store-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alice-senior, @charlie-senior, @bob-junior, @dana-junior

.github/CODEOWNERS:

# Code Owners for KNX Store Project
# This file defines who is responsible for different parts of the codebase
# GitHub will automatically request reviews from these owners when PRs are created

# Global project owners (all files)
* @alice-senior @charlie-senior

# API and Backend Integration
src/lib/api/ @alice-senior
src/lib/api/wordpress.ts @alice-senior
src/lib/api/woocommerce.ts @alice-senior
src/pages/api/ @alice-senior

# Frontend Components and UI
src/components/ @charlie-senior @bob-junior
src/components/*.astro @charlie-senior
src/components/*.tsx @charlie-senior
src/layouts/ @charlie-senior

# Styling and CSS
src/styles/ @dana-junior @charlie-senior
tailwind.config.* @dana-junior
*.css @dana-junior

# Testing and Quality Assurance
tests/ @charlie-senior @bob-junior
tests/accessibility.spec.ts @charlie-senior
tests/e2e/ @charlie-senior
*.test.* @charlie-senior
*.spec.* @charlie-senior

# Configuration and Build
astro.config.* @alice-senior
package.json @alice-senior @charlie-senior
vercel.json @alice-senior
docker-compose.yml @alice-senior
Dockerfile @alice-senior

# Documentation
docs/ @charlie-senior @dana-junior
README.md @alice-senior @charlie-senior
*.md @charlie-senior

# GitHub Actions and CI/CD
.github/workflows/ @alice-senior
.github/CODEOWNERS @alice-senior

# Storybook Configuration
.storybook/ @charlie-senior
src/components/*.stories.* @charlie-senior

# Performance and Monitoring
.lighthouserc.* @alice-senior
size-limit @alice-senior

# Security and Environment
.env* @alice-senior
*.env @alice-senior

# TypeScript Configuration
tsconfig.json @charlie-senior
*.d.ts @charlie-senior

# Utilities and Helpers
src/utils/ @charlie-senior @bob-junior
src/lib/utils/ @charlie-senior

# Pages and Routing
src/pages/ @charlie-senior @bob-junior
src/pages/en/ @charlie-senior
src/pages/products/ @charlie-senior

# Data and Types
src/types/ @alice-senior @charlie-senior
src/stores/ @alice-senior
src/hooks/ @charlie-senior

# Performance and SEO
src/pages/sitemap.xml.ts @alice-senior
src/pages/robots.txt.ts @alice-senior

# Error Handling and Logging
src/lib/errors/ @alice-senior
src/lib/logger/ @alice-senior

# Internationalization
src/i18n/ @charlie-senior @dana-junior
src/pages/ar/ @dana-junior

# Payment and E-commerce
src/lib/stripe/ @alice-senior
src/lib/payments/ @alice-senior

# Caching and Performance
src/lib/cache/ @alice-senior
src/lib/redis/ @alice-senior

# Email and Notifications
src/lib/email/ @alice-senior
src/lib/notifications/ @alice-senior

# Analytics and Tracking
src/lib/analytics/ @alice-senior
src/lib/gtm/ @alice-senior

# Database and Data Models
src/lib/database/ @alice-senior
src/models/ @alice-senior

# Validation and Schemas
src/lib/validation/ @charlie-senior
src/schemas/ @charlie-senior

# Middleware and Interceptors
src/middleware/ @alice-senior
src/lib/interceptors/ @alice-senior

# Constants and Configuration
src/constants/ @charlie-senior
src/config/ @alice-senior

# Legacy and Migration
src/legacy/ @alice-senior
src/migrations/ @alice-senior

# Experimental Features
src/experimental/ @alice-senior @charlie-senior

# Vendor and Third-party
src/vendor/ @alice-senior
src/third-party/ @alice-senior

# Backup and Archive
src/backup/ @alice-senior
src/archive/ @alice-senior

# Team Member Expertise Areas:

# Alice (Senior) - Backend, API, DevOps, Security
# - WordPress/WooCommerce integration
# - Payment systems (Stripe)
# - Database and caching
# - Security and environment variables
# - Deployment and CI/CD
# - Performance optimization

# Charlie (Senior) - Frontend, Testing, Architecture
# - React/Astro components
# - Testing strategy and implementation
# - Code quality and best practices
# - Documentation and technical writing
# - Accessibility and UX
# - TypeScript and type safety

# Bob (Junior) - Frontend, Testing, Learning
# - Component development
# - API consumption
# - Testing implementation
# - Documentation
# - Learning backend development

# Dana (Junior) - UI/UX, Styling, Learning
# - Component styling and CSS
# - User experience implementation
# - Documentation and writing
# - Learning full-stack development
# - Internationalization (Arabic/RTL)

# Review Guidelines:
# - Senior developers should review all changes
# - Junior developers should review changes in their expertise areas
# - At least 2 approvals required for merging
# - Security-related changes require Alice's approval
# - Performance changes require Alice's approval
# - UI/UX changes require Dana's input
# - Testing changes require Charlie's approval

test: Add enhanced documentation to WordPress API fetchProducts method for automated code review testing
  src/lib/api/wordpress.ts
Owners: @alice-senior

test: Final test PR for automated code review verification
  src/lib/api/wordpress.ts
Owners: @alice-senior

fix: Resolve TypeScript errors for Vercel deployment - Fix client-side filtering script type annotations - Remove unused AxiosResponse import - Ensure all TypeScript compilation passes for deployment
  src/lib/api/woocommerce-sync.ts
  src/pages/products/catalog.astro
Owners: @alice-senior, @charlie-senior

fix: Correct setTimeout return type for TypeScript compatibility - Use ReturnType<typeof setTimeout> instead of number - Ensure proper type compatibility across Node.js and browser environments
  src/pages/products/catalog.astro
Owners: @charlie-senior

fix: Add terser dependency for Vercel build - Install terser as dev dependency for JavaScript minification - Resolve build failure due to missing terser dependency
  package-lock.json
  package.json
Owners: @alice-senior, @charlie-senior

fix: Resolve TypeScript variable name conflict in optimized catalog - Rename perPage variable to pageSize to avoid naming conflict - Ensure clean TypeScript compilation for Vercel deployment
  src/pages/products/catalog-optimized.astro
Owners: @charlie-senior

fix: Resolve TypeScript error in test-upstash page - Escape HTML entity for < symbol to prevent numeric literal error - Fix Vercel build failure due to TypeScript compilation error
  src/pages/test-upstash.astro
Owners: @charlie-senior, @bob-junior

fix: Resolve TypeScript errors for Vercel build - Remove unused import from products API - Fix window.location type error in catalog page - Ensure clean build for production deployment
  src/pages/api/products.js
  src/pages/products/catalog-optimized.astro
Owners: @charlie-senior, @bob-junior

ci: fix PR review workflow - add fetch-depth 0, fix changed-files usage, remove malformed YAML blocks, and correct github-script sections
  .github/workflows/pr-review-notifications.yml
Owners: @alice-senior

ci: wire Slack notifications properly - use secrets for channel id and bot token, add success/failure notifications, and add manual Slack test workflow
  .github/workflows/send-slack-test.yml
  .github/workflows/simple-deploy.yml
Owners: @alice-senior

ci: fix invalid workflow expressions by referencing secrets via env; add SLACK_BOT_TOKEN/SLACK_CHANNEL_ID to job env and conditionals
  .github/workflows/send-slack-test.yml
  .github/workflows/simple-deploy.yml
Owners: @alice-senior

Implement user auth with JWT and Stripe payment gateway with multi-currency
  package-lock.json
  package.json
  src/i18n/ar.json
  src/i18n/de.json
  src/i18n/en.json
  src/layouts/Layout.astro
  src/middleware/auth.ts
  src/pages/[lang]/account.astro
  src/pages/[lang]/checkout.astro
  src/pages/[lang]/login.astro
  src/pages/api/login.ts
  src/pages/api/logout.ts
  src/pages/api/payment.ts
  src/pages/api/protected.ts
  src/pages/test-auth-payment.astro
Owners: @alice-senior, @charlie-senior, @dana-junior, @bob-junior

Fix TypeScript errors for build compatibility
  SPRINT2_STEP1_SUMMARY.md
  VERIFICATION_CHECKLIST.md
  package-lock.json
  package.json
  src/layouts/Layout.astro
  src/pages/[lang]/account.astro
  src/pages/[lang]/checkout.astro
  src/pages/[lang]/login.astro
  src/pages/api/login.ts
  src/pages/test-auth-payment.astro
Owners: @charlie-senior, @alice-senior, @bob-junior

Fix final TypeScript error for Vercel build
  DEPLOYMENT_STATUS_UPDATE.md
  src/pages/[lang]/checkout.astro
Owners: @charlie-senior, @bob-junior

Fix domain configuration to match Vercel project name
  astro.config.mjs
Owners: @alice-senior

Fix URL structure consistency - add redirect pages and URL utilities
  FINAL_DEPLOYMENT_STATUS.md
  PRODUCTION_DEPLOYMENT_COMPLETE.md
  REDIRECT_ISSUE_FIXED.md
  src/layouts/Layout.astro
  src/lib/urls.ts
  src/pages/[lang]/contact.astro
  src/pages/account.astro
  src/pages/checkout.astro
  src/pages/contact.astro
  src/pages/login.astro
  src/pages/products/catalog-optimized.astro
  vercel.json
Owners: @charlie-senior, @alice-senior, @bob-junior

Fix Astro config for server-side API routes
  LOCAL_DEVELOPMENT_FIXED.md
  URL_STRUCTURE_FIXED.md
  astro.config.mjs
Owners: @charlie-senior, @alice-senior

Fix Vercel deployment: add Vercel adapter and fix TypeScript warnings
  SPRINT2_STEP1_VERIFICATION_REPORT.md
  astro.config.mjs
  package-lock.json
  package.json
  src/pages/[lang]/contact.astro
Owners: @charlie-senior, @alice-senior, @bob-junior

revert: Astro to static output (no adapter) to match last working deploy
  astro.config.mjs
Owners: @alice-senior

fix(i18n): use t(lang, key) in contact page to resolve build error
  src/pages/[lang]/contact.astro
Owners: @charlie-senior, @bob-junior

feat(serverless): add Vercel functions for auth and payments; keep Astro static
  api/auth/login.ts
  api/payments/create-intent.ts
  astro.config.mjs
  src/lib/auth.ts
  src/lib/stripe.ts
  src/pages/api/auth/login.ts
  src/pages/api/auth/logout.ts
  src/pages/api/auth/me.ts
  src/pages/api/payments/create-intent.ts
Owners: @alice-senior, @charlie-senior, @bob-junior

fix(serverless): make functions self-contained (JWT, Stripe) and robust to raw JSON body
  api/auth/login.ts
  api/payments/create-intent.ts
Owners: @alice-senior, @charlie-senior

feat(ui): point login/me/logout to serverless routes; checkout uses serverless create-intent with confirmCardPayment
  src/layouts/Layout.astro
  src/pages/[lang]/checkout.astro
  src/pages/[lang]/login.astro
Owners: @charlie-senior, @bob-junior

fix(checkout): remove leftover confirmParams block; use confirmCardPayment result properly
  src/pages/[lang]/checkout.astro
Owners: @charlie-senior, @bob-junior

fix(account): correct localized links and use serverless auth endpoints; update test page to serverless payment/auth
  src/pages/[lang]/account.astro
  src/pages/test-auth-payment.astro
Owners: @charlie-senior, @bob-junior

feat(serverless): add auth/me and auth/logout; fix account links and redirects
  api/auth/logout.ts
  api/auth/me.ts
  src/pages/[lang]/account.astro
Owners: @alice-senior, @charlie-senior, @bob-junior

fix(checkout): load Stripe.js and initialize with publishableKey from create-intent before mounting Elements
  src/pages/[lang]/checkout.astro
Owners: @charlie-senior, @bob-junior

fix: resolve WooCommerce API parameter issues for Vercel deployment
  src/pages/api/products/search.ts
Owners: @charlie-senior, @bob-junior

fix: resolve build conflicts and add mock fallback for WooCommerce
  src/lib/api/woocommerce-sync.ts
  src/pages/api/products.js
Owners: @alice-senior, @charlie-senior, @bob-junior

fix: restore corrupted product detail page and complete build fixes
  src/pages/[lang]/products/[slug].astro
Owners: @charlie-senior, @bob-junior

Fix: Complete dynamic product pages with fallback data
  src/pages/[lang]/products/[slug].astro
Owners: @charlie-senior, @bob-junior

🎉 WooCommerce API Integration Success - Sprint 1 Step 2
  .env.example
  build.sh
  docs/environment-setup.md
  src/lib/api/woocommerce-sync.ts
  src/pages/[lang]/products/[slug].astro
Owners: @alice-senior, @charlie-senior, @bob-junior

📊 Add WooCommerce API Success Report
  docs/woocommerce-api-success-report.md
Owners: @charlie-senior

📊 Add WooCommerce API Success Report
  docs/woocommerce-api-success-report.md
Owners: @charlie-senior

✅ WooCommerce Integration Complete - Production Ready
  docs/vercel-fix-guide.md
  setup-vercel-env.sh
  src/lib/api/woocommerce-sync.ts
  src/pages/[lang]/products/[slug].astro
  src/pages/api/products/search.ts
Owners: @charlie-senior, @alice-senior, @bob-junior

📊 Updated deployment report with WooCommerce integration status
  docs/deployment-success-report.md
Owners: @charlie-senior

Makes It Universal
  README.md
  package.json
  setup-vercel-env.sh
  setup-woocommerce.sh
  validate-woocommerce.sh
  vercel.build
Owners: @charlie-senior, @alice-senior

JSON Syntax Error fix
  package.json
  validate-build.sh
  vercel.json
Owners: @alice-senior, @charlie-senior

error fixed
  VERCEL_DEPLOYMENT_FIXES.md
  api/auth/login.ts
  api/auth/logout.ts
  api/auth/me.ts
  api/payments/create-intent.ts
  package.json
  validate-build.sh
  vercel.json
Owners: @charlie-senior, @alice-senior

vercerl error fix
  README.md
  VERCEL_DEPLOYMENT_FIXES.md
  astro.config.mjs
  package.json
  src/pages/api/auth/login.ts
  src/pages/api/sync.ts
  validate-build.sh
  vercel.json
Owners: @charlie-senior, @alice-senior, @bob-junior
